{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="./assets/table.css">
{% endblock %}

{% block title %}Contacts{% endblock %}

{% if q.len() > 0 %}
{% let search = q %}
{% else %}
{% let search = "" %}
{% endif %}

{% block content %}

<form action="/contacts" method="get" class="tool-bar">
  <label for="search">Search</label>
  <input id="search" type="search" name="q" value="{{ q|display_some }}" />
  <input type="submit" value="Search" />
</form>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
      <th />
    </tr>
  </thead>
  <tbody>
    {% for contact in list %}
    <tr>
      <td>{{ contact.first }}</td>
      <td>{{ contact.last }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.email }}</td>
      <td>
        <a href="/contacts/{{ contact.id }}/edit">Edit</a>
        <a href="/contacts/{{ contact.id }}">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  <a href="/contacts/new">Add Contact</a>
</p>
{% endblock %}
